<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule /sub/directory/index\.php - [L]
RewriteCond %{REQUEST_URI} !\.(?:css|js|png|jpg|jpeg|svg|xml|xmlns|xlsx|woff|woff2|eot|ttf|map|pdf|css.map)$ [NC]
RewriteRule ^.*$ index\.php
<FilesMatch ".(jpg|png|gif|jpeg)$">
ErrorDocument 404 "/publico/img/not_found.png"
</FilesMatch>
</IfModule>