@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
}


/* body */

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    flex: 1;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #151516, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.coste p {
    margin-top: 5px;
    font-size: 60px;
    color: #585772;
}

.cta {
    padding: 20px 0px 0px 0px;
}

.cta-anadir-cesta {
    border: 2px solid #282735;
    background: transparent;
    color: #1f1d1e;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-add {
    background: #030303;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin: 5px 0px 0px 0px;
}

.cover {
    flex: 1;
}

.cover img {
    width: 40vw;
    height: 40vh;
    filter: drop-shadow(0px 5px 3px rgba(61, 60, 60, 0.76));
    animation: drop 3s ease;
}

.big-circle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
    height: 80%;
}

.medium-circle {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}

.small-circle {
    position: absolute;
    bottom: 10%;
    left: 20%;
    z-index: -1;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width:1024px) {
    .presentation {
        flex-direction: column;
    }
    .introduction {
        margin-top: 10vh;
        text-align: center;
        padding-bottom: 3vh;
        ;
    }
    .intro-text h1 {
        font-size: 30px
    }
    .intro-text p {
        font-size: 18px;
    }
    .cta {
        padding: 10px 0 0 0;
    }
    /* .laptop-select {
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50%, 5%);
    } */
    .cover img {
        align-items: center;
        width: 80vw;
    }
    .small-circle,
    .medium-circle,
    .big-circle {
        opacity: 0.2;
    }
}

.contenido__curso {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

.intro-text--cc {
    display: flex;
    flex-direction: column;
    color: #151516;
}

.intro-text--cc p {
    font-size: 35px;
}

.curso__modulo {
    border: 1px solid #151516
}

.curso__modulo_header {
    display: flex;
    justify-content: space-between;
    color: #030303;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #151516;
}

.curso__modulo_title {
    font-size: 25px;
    color: black;
    align-items: center;
    width: 50%;
}

.curso__modulo_title_container {
    font-size: 25px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.curso__modulo_body {
    padding: 10px 10px 0 10px;
}

.curso__modulo_clase {
    display: flex;
    justify-content: space-between
}

.curso__modulo_descripcion {
    width: 55%
}