.cards__ofert {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 20px;
    grid-gap: 40px;
}

.card__ofert {
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.container__ofert {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.img__ofert {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 20px 20px 0 0;
}

.container__ofert:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.details__ofert {
    padding: 20px 10px;
}

.title_categoria {
    margin-left: 20px;
}

h2 {
    color: black !important;
}

.details__ofert>h3 {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}

.details__ofert>p {
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}


/* Categoria Style */

.main__categoria {
    display: flex;
    padding: 0px;
    margin: 20px;
    box-sizing: border-box;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card__categoria {
    position: relative;
    width: 350px;
    /* height: 400px; */
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 25px 25px rgba(0, 8, 0, 0.2);
    padding: 20px;
    transition: height 1s;
}

.content__categoria::after {
    transition: all 1s;
    content: "";
    height: 120px;
    width: 100%;
    background-image: var(--urlimg);
    background-size: cover;
    background-position: center;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.content__categoria:hover::after {
    opacity: 1;
}

.content__categoria {
    display: flex;
    align-items: center;
}

.card__categoria.active {
    height: 400px;
}

.navigation__categoria {
    position: relative;
    top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

.navigation__categoria li {
    list-style: none;
    margin: 5px 0;
}

.navigation__categoria li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
}

.navigation__categoria li a:hover {
    color: #36b3ff;
}

.toggle__categoria {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #36b3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
}